<a href="https://colab.research.google.com/github/nathasakayezz/SC-Sesi1/blob/main/Scientific_Computing_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pertemuan 1

## Materi - Pengenalan Python

In [ ]:
print ("haloo")

haloo

In [ ]:
#mengakses library time dengan syntax import + nama library

import time

In [ ]:
print(time.ctime())

Thu Feb  6 15:00:03 2025

In [ ]:
#print bisa dengan langsung menuliskan variabel atau print([variabel])

z = "hello"
y = 20
c = 30.8
f = ["apple", "berry"]

#print dengan menuliskan langsung variable
z, y, c, f

#print dengan syntax print(variable1, variable2, variable 3, dst...)
print(z, y, c, f)

#hasil print yang tanpa syntax dan dengan syntax akan berbeda.
#hasil print tanpa syntax = ('hello', 20, 30.8, ['apple', 'berry'])
#hasil print dengan syntax = hello 20 30.8 ['apple', 'berry']
#program hanya akan melakukan print satu kali saja meskipun terdapat 2 kali penulisan menggunakan syntax dan tanpa syntax

hello 20 30.8 ['apple', 'berry']

In [ ]:
#casting = mengubah tipe data

#1 = integer, casting menjadi float
o = float(1)
#2.8 = float, casting menjadi integer
y = int(2.8)
#"3" = char, casting menjadi integer
z = int("3")
#20 = integer, casting menjadi string
j = str(20)

print(o, y, z, j)

1.0 2 3 20

In [ ]:
#menggabungkan 2 string

a = "HELLO"
b = "world"
c = a+b

print(c)

HELLOworld

In [ ]:
#mengambil 1 huruf menggunakan index (array of)
#menghitung total array

a = "Hello World"
print(a[1])

print(len(a))

e
11

In [ ]:
#mengambil beberapa huruf menggunakan index (array of)
#dengan cara print(variable[batas awal : batas akhir])

b = "BINUS Univ"
print(b[2:5])

c = "BINUS Univ"
print(b[:5])

d = "BINUS Univ"
print(b[2:])

NUS
BINUS
NUS Univ

In [ ]:
#mengubah semua huruf kecil menjadi huruf besar
a = "Hello"
print(a.upper())

#mengubah semua huruf besar menjadi huruf kecil
b = "Hello"
print(b.lower())

#mengganti satu huruf
c = "Hello"
print(a.replace("H", "J"))

HELLO
hello
Jello

In [ ]:
#print string gabung integer

nama = "Nathasa"
x = 19
string = "nama saya {}, umur saya {}"

print(string.format(nama,x))

nama saya Nathasa, umur saya 19

In [ ]:
#memberikan penomoran untuk setiap index yang terdapat pada string dengan perulangan for

nama = "Grace"
for i in enumerate(nama):
  print(i)

(0, 'G')
(1, 'r')
(2, 'a')
(3, 'c')
(4, 'e')

In [ ]:
#def = membuat function baru

def perbandingan (a,b):
  #perbandingan (if elif else)
  if a>b:
    print("a lebih dari b")
  elif a<b:
    print("a kurang dari b")
  else:
    print("a = b")

In [ ]:
#mencoba function perbandingan

perbandingan (4,8)

a kurang dari b

In [ ]:
#perulangan menggunakan while

i=1
while i<6:
  print(i)
  i += 1

1
2
3
4
5

In [ ]:
#perulangan menggunakan for

i=7
for i in range(0,6):
  print(i)

0
1
2
3
4
5

In [ ]:
i = 2
while i<=40:
  if i % 2 == 0:
    print (i, "genap")
  elif i % 2 == 1:
    print (i, "ganjil")
  i += 1

2 genap
3 ganjil
4 genap
5 ganjil
6 genap
7 ganjil
8 genap
9 ganjil
10 genap
11 ganjil
12 genap
13 ganjil
14 genap
15 ganjil
16 genap
17 ganjil
18 genap
19 ganjil
20 genap
21 ganjil
22 genap
23 ganjil
24 genap
25 ganjil
26 genap
27 ganjil
28 genap
29 ganjil
30 genap
31 ganjil
32 genap
33 ganjil
34 genap
35 ganjil
36 genap
37 ganjil
38 genap
39 ganjil
40 genap

In [ ]:
for i in range(2,41):
  if i % 2 == 0:
    print (i, "genap")
  else:
    print (i, "ganjil")

2 genap
3 ganjil
4 genap
5 ganjil
6 genap
7 ganjil
8 genap
9 ganjil
10 genap
11 ganjil
12 genap
13 ganjil
14 genap
15 ganjil
16 genap
17 ganjil
18 genap
19 ganjil
20 genap
21 ganjil
22 genap
23 ganjil
24 genap
25 ganjil
26 genap
27 ganjil
28 genap
29 ganjil
30 genap
31 ganjil
32 genap
33 ganjil
34 genap
35 ganjil
36 genap
37 ganjil
38 genap
39 ganjil
40 genap

In [ ]:
#mengakses library numpy, diberikan inisial ny sehingga cukup menuliskan ny untuk mengakses numpy

import numpy as np

In [ ]:
y = np.array ([[1, 2, 3],
        [4, 5, 6]])
x = np.array ([[6, 5, 4],
               [3, 2, 1]])

In [ ]:
x + y

array([[7, 7, 7],
       [7, 7, 7]])

In [ ]:
data = np.array ([10, 9, 8, 7, 6, 5])

print("Rata-rata:", np.mean(data))
print("Max:", np.max(data))
print("Min:", np.min(data))
print("Standar Devisiasi:", np.std(data))

Rata-rata: 7.5
Max: 10
Min: 5
Standar Devisiasi: 1.707825127659933

## Tugas Modul - Grading System

In [ ]:
x = input("Nilai Ujian Akhir Semester: ")
print("UAS =", x)

Nilai Ujian Akhir Semester: 100
UAS = 100

In [13]:
  while True:
    username = input("Masukkan username anda : ")
    password = input("Masukkan password anda : ")
    if password == "Admin123" :
      print("Login Berhasil, Selamat datang", username)
      print("\n")
      break
    else :
      print("Password salah, coba lagi")
    print("\n")
  name = input("Masukkan nama siswa : ")
  uas = float(input("Masukkan Nilai UAS : "))
  uts = float(input("Masukkan Nilai UTS : "))
  asg = float(input("Masukkan Nilai Assignment : "))
  print("\n")

  final = uas * 0.5 + uts * 0.3 + asg * 0.2

  print("===================================")
  print("Hasil perolehan nilai", name)
  print("Final Score: ", final)
  if 90 <= final <= 100 :
    grade = 'A'
  elif 85 <= final < 90 :
    grade = 'A-'
  elif 80 <= final < 85 :
    grade = 'B+'
  elif 75 <= final < 80 :
    grade = 'B'
  elif 70 <= final < 75 :
    grade = 'B-'
  elif 65 <= final < 70 :
    grade = 'C'
  elif 60 <= final < 65 :
    grade = 'D'
  elif 11 <= final < 60 :
    grade = 'E'
  elif final == 0 :
    grade = 'F'
  else :
    grade = "Nilai tidak valid"
print("Grade:", grade)

Masukkan username anda : Ailie
Masukkan password anda : admin123
Password salah, coba lagi


Masukkan username anda : Ailie
Masukkan password anda : Admin123
Login Berhasil, Selamat datang Ailie


Masukkan nama siswa : Reynard
Masukkan Nilai UAS : 100
Masukkan Nilai UTS : 0
Masukkan Nilai Assignment : 100


===================================
Hasil perolehan nilai Reynard
Final Score:  70.0
Grade: B-